/* Set box-sizing, margin, and padding to 0 for all elements */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Set the font family for the body to sans-serif */
body {
    font-family: sans-serif;
}